// primary

$black: #4C4C4E;
$red: #EF4646;
$white: #FFFFFF;
$grey: #646464;
$grey--light: lighten($black, 60%);
$grey--medium: lighten($black, 55%);
$blue: #1146FF;
$yellow: #F9CE01;
$orange: #F38602;
$green: #33CC8D;
$iwgreen: #99cc33;
$WTF1Teal: #0EC1A4;
$WTF1Green: #C9D419;

$wild-sand: #f2f2f2;
$tundora: #4E4E4E;
